DISCORD_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
DOWNLOAD_HOST=0.0.0.0
DOWNLOAD_PORT=8765
DOWNLOAD_BASE_URL=
DOWNLOAD_PORT_SEARCH_ATTEMPTS=20
RECORDINGS_DIR=
RECORDINGS_TTL_DAYS=7
CLEANUP_INTERVAL_SECONDS=3600
AFK_DISCONNECT_SECONDS=300
PLAYLIST_MAX_TRACKS=200
